.Die {
  font-size: 10em;
  padding: 0.25em;
  color: goldenrod;
}

.rolling {
  animation-name: roll;
  animation-duration: 0.5s;
}

@keyframes roll {
  0% {
    transform: translate3d(-200px, -50px, -400px);
  }
  12% {
    transform: translate3d(0px, 0, -100px);
  }
  25% {
    transform: translate3d(200px, -50px, -400px);
  }
  37% {
    transform: translate3d(0px, -100px, -800px);
  }
  50% {
    transform: translate3d(-200px, -50px, -400px);
  }
  62% {
    transform: translate3d(0px, 0, -100px);
  }
  75% {
    transform: translate3d(200px, -50px, -400px);
  }
  87% {
    transform: translate3d(0px, -100px, -800px);
  }
  100% {
    transform: translate3d(-200px, -50px, -400px);
  }
}
